.tate {
    text-align: justify;
    margin: auto;
    writing-mode: vertical-rl;

    max-height: 100%;
    position: absolute;
    bottom: 0;
}

.control {
    visibility: hidden;
}

.bgroup {
    margin: 0 16px;
}

.bgroup:hover .control {
    visibility: visible;
    animation-duration: 0.3s;
    animation-name: fade-in;
}

@keyframes fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    50% {
        visibility: visible;
        opacity: 0.5;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.appbar {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    opacity: 0;
}

.appbar:hover {
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: fade-in;
}
